/*
 * SPDX-FileCopyrightText: 2006 Teemu Rytilahti
 */

BODY { background-color: #7ba5c1 !important; color: black; }
#img { border: 1px solid white; }
table.thumbnail-table,table.image-table { width: 100%; color: white; text-align:center; }
td.thumbnail-col,td.image { height:150px; text-align: center; vertical-align: middle; border: 1px solid black; background-color:#5a91bd }
table.controlinfo,td.navbar { width:100%; background-color: #5a91bd; color:white; border: 1px solid black; }
.controlinfo a:link,.navbar a:link { color: white; text-decoration: underline; }
.controlinfo a:visited,.navbar a:visited { color: white; text-decoration: underline; }
.controlinfo .selected { text-decoration: none; font-weight:bold; }
h1.title { text-align: center; color: black; }
td.navbar { background-color:#5a91bd; }
